@import "./reset";

:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: yellow;
  box-shadow: 2px 2px 2px grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    li {
      margin: 0 10px;
    }
    li.active {
      border-bottom: 3px solid red;
    }
  }
}

main {
  background-color: yellow;
  #startContainer {
    min-height: calc(100vh - 147px);
    background: url("src/images/pumpor_blur.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    h2 {
      background: yellow;
      padding: 15px;
    }
    #imgContainer {
      display: flex;
      flex-direction: row;
      img {
        background-color: white;
        padding: 20px;
      }
    }
    #textDivStart {
      max-width: 600px;
      background: yellow;
      padding: 20px;
      text-align: center;

      p {
        margin: 10px 0;
      }
    }
  }
}
